@charset "UTF-8";

    * {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        }



    body {
        background: url(imagens/residente.jpg) center right no-repeat, url(imagens/residente.jpg) center left no-repeat;
        background-attachment: fixed;
        }

    header {
        background: url(imagens/cyperpunk.jpg) no-repeat center center;
        background-size: cover;
        max-width: 1500px;
        min-width: 300px;
        min-height: 200px;
        max-height: 500px;
        padding: 5px 0px 5px 0px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.945);
        text-align: center;
        }

    h1 {
        background-color: rgba(0, 0, 0, 0.308);
        font-size: 3em ;
        color: #e9e50a;
        padding: 77px 0px 65px 0px;
        text-shadow: 2px 5px 1px rgba(0, 0, 0, 0.459);
    }

    main {
        background-color: white;
        box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.774);
        max-width: 1500px;
        min-width: 350px;
        border-radius: 0px 0px 5px 5px;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    main > div:nth-child(even) {
        background-color: lightgray;
    }

    div {
        min-width: 350px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 60%);
        margin: 4px;
        padding: 10px;
    }

    p {
        font-size: 1.3em;
        text-align: center;
    }

    ul {
        list-style-type: none;
        font-size: 1em;
    }


    footer > p {
        background-color: rgba(0, 0, 0, 0.836);
        color: white;
        text-decoration: none;
    }

    a {
        color:white;
        background-color: rgba(129, 15, 236, 0.301);
        text-decoration: none;
        padding-left: 10px;
        }

    a::after {
        content: '\00A0\1F517';
    }

    a:visited {
        color: #e9e50a;
        }

    a:hover {
        color: #e9e50a;
        text-decoration: underline;
        }
